In [1]:
import pandas as pd
data = pd.read_csv("sample.csv",low_memory = False)
data.head()

,cdatetime,address,district,beat,grid,crimedescr,ucr_ncic_code,latitude,longitude
0,1/1/06 0:00,3108 OCCIDENTAL DR,3,3C,1115,10851(A)VC TAKE VEH W/O OWNER,2404,38.550420,-121.391416
1,1/1/06 0:00,2082 EXPEDITION WAY,5,5A,1512,459 PC BURGLARY RESIDENCE,2204,38.473501,-121.490186
2,1/1/06 0:00,4 PALEN CT,2,2A,212,10851(A)VC TAKE VEH W/O OWNER,2404,38.657846,-121.462101
3,1/1/06 0:00,22 BECKFORD CT,6,6C,1443,476 PC PASS FICTICIOUS CHECK,2501,38.506774,-121.426951
4,1/1/06 0:00,3421 AUBURN BLVD,2,2A,508,459 PC BURGLARY-UNSPECIFIED,2299,38.637448,-121.384613

In [2]:
data.describe()

          district         grid  ucr_ncic_code     latitude    longitude
count  7584.000000  7584.000000    7584.000000  7584.000000  7584.000000
mean      3.574631   916.250791    4275.068829    38.559809  -121.463832
std       1.642512   407.436310    2171.593193     0.056101     0.034621
min       1.000000   102.000000     909.000000    38.437999  -121.555832
25%       2.000000   567.000000    2309.000000    38.518476  -121.489543
50%       3.000000   899.000000    3532.000000    38.559523  -121.465459
75%       5.000000  1264.000000    7000.000000    38.610361  -121.435947
max       6.000000  1661.000000    8102.000000    38.683789  -121.365238

In [4]:
x = data['crimedescr'].value_counts()
x

304